<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2> Google Forms</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, cupiditate. Ipsum quasi nam pariatur! Magnam iusto libero eum accusantium, distinctio omnis exercitationem reprehenderit maiores fuga quod magni, nobis voluptas enim.</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../assets/img/googleforms.jpg" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
