<div class="row">
    <h1>Hard y soft skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="80"
            [radius]="100" 
            [imageSrc]= "'../../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" 
        [radius]="100" 
        [imageSrc]= "'../../assets/img/CSS.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true"
            [animationDuration]="700"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100"
        [imageSrc]= "'../../assets/img/js.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="110"
            [showUnits]="false"
        [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="700"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100"
        [imageSrc]= "'../../assets/img/git.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [showUnits]="false"
            [showTitle]="true"
        [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="700"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100"
        [imageSrc]= "'../../assets/img/grupal.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [showUnits]="false"
        [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="700"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [radius]="100"
        [imageSrc]= "'../../assets/img/eng.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [showUnits]="false"
        [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="700"></circle-progress>
    </div>
</div>