<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo.png" id="logoAp" alt="">
        </div>
        <div class="redes">
            <div class="DbotonL">
                <button type="button" class="button-15" role="button">Ingreso</button>                
            </div>
            <div>
                <a href="https://www.facebook.com/matias.rodriguez.walo" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-skype"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/waloRz?tab=repositories" target="_blank">
                    <i class="fa-brands fa-github"></i></a>
            </div>
           
        </div>

    </div>
</div>