.row{
    padding: 20px;   
    background-color:  azure;
}   

#experienciaL {
     
    background-color:  azure;
}

h2{
    text-align: center;
}

img {
    width: 200px;   height:200px;
}

.text-work{
    margin-left: 3rem;
}

.work-description{
    font-size: 1.75rem;
}