<div class="row c-sobremi">

    <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src={{fotoyo}} alt="imagen de perfil" class="c-fotonom" id="fotodeperfil">
        <h1>
            <p>Matias W. Rodriguez</p>
        </h1>
        <h4>Full Stack Developer</h4>
    </div>
    <div class="col-xs-12 col-sm-9 col-md- col-lg-9">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Dicta nulla fuga velit placeat rerum ut dolorem
                dignissimos dolorum adipisci, nemo impedit expedita nesciunt
                mollitia non asperiores deserunt perferendis corrupti quisquam!</p>
        </span>
    </div>
</div>