
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="../../../assets/img/yo.jpg" alt="" class="img-fluid" id="fotodeperfil">
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <p id="nombre">Matias W. Rodriguez</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Dicta nulla fuga velit placeat rerum ut dolorem
                    dignissimos dolorum adipisci, nemo impedit expedita nesciunt
                    mollitia non asperiores deserunt perferendis corrupti quisquam!</p>
            </span>
        </div>
    </div>
