.row {
  padding-top: 6%;
  
  position: relative;
}
p{
  text-align: center;
  margin: 15px;
}

div {
  background-color: azure;
  text-align: center;
  
}

.c-fotonom {
  position: absolute;
  border-radius: 50%;
  width: 20%;
  top: -14vmax;
  left: 7%;
}

/*etiqueta id*/

#nombre {
  font-weight: bold;
  margin-top: 5%;
}


@media (min-width: 1096px){
    #fotodeperfil{
        position: absolute;
         width: 18%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left: 2%;
         top: -14vmax;
    }
}

@media (min-width: 618px) and (max-width: 1095px) {
    #fotodeperfil{
        position: absolute;
         width: 18%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left: 2%;
         top: -14vmax;
    }
}

/*de 0 a 618 hace esto*/
@media (max-width: 617px){
    #fotodeperfil{
        position:absolute;        
         width: 30%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left: 33%;
         top: -164px;
       }
}

